include *.txt
include *.md
include *.pkl
recursive-include ./resume_classification_model *

include resume_classification_model/datasets/bike-rental-dataset.csv
include resume_classification_model/datasets/test.csv
include resume_classification_model/trained_models/*.pkl
include resume_classification_model/VERSION
include resume_classification_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]